
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B3E0FF;
    color: #2F4F4F;
}
header {
    background: #007BFF;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
nav {
    margin: 15px 0;
}
nav a {
    margin: 0 20px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    position: relative;
    height: 30px;

}
.hero {
    background: no-repeat center center/cover;
    padding: 60px 20px;
    color: #ffffff;
    text-align: center;
}
section {
    padding: 20px;
    margin: 15px;
    background: #85C1FF;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    text-decoration: none;
}
.clickable-section{
    display: block;
    text-decoration: none;
    color: inherit;

}
.hover-section{
    padding: 20px;
    margin: 10 px 0;
    transition: background-color 0.3s;
    background-color: #85C1FF;
}
.hover-section:hover{
    background-color: #B3E0FF;
}

h2 {
    color: #007BFF;
}
footer {
    text-align: center;
    padding: 15px 0;
    background: #007BFF;
    color: #FFFFFF;
    position: relative;
    bottom: 0;
    width: 100%;
}
@media (max-width: 600px) {
    header, footer {
        text-align: center;
    }
}
.logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 50px;
    text-align: right;
    margin: 10px;
    justify-content: flex-end;
  }
  .logo2{
    width: 200px;
    height: 100px;
  }